/*
*Theme Name: uikit
*Theme URI: http://webmobileimage.com
*Author: Chris Carey
*Author URI: http://wordpress.org/
*Description: The 2013 theme for WordPress takes us back to the blog, featuring a full range of post formats, each displayed beautifully in their own unique way. Design details abound, starting with a vibrant color scheme and matching header images, beautiful typography and icons, and a flexible layout that looks great on any device, big or small.
*Version: 1.0
*License: GNU General Public License v2 or later
*License URI: http://www.gnu.org/licenses/gpl-2.0.html
*Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
*Text Domain: twentythirteen
*
*/
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

li {
  list-style: none;
}

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

/* For IE 6/7 only */
.cf {
  *zoom: 1;
}

html {
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "antonio regular", sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #866c7a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "antonio regular", sans-serif;
  font-weight: 500;
  line-height: 1.1em;
  color: #1c378d;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}

h1,
h2,
h3 {
  padding: 20px;
}

h1 small,
h2 small,
h3 small,
h1 .small,
h2 .small,
h3 .small {
  font-size: 65%;
}

h4,
h5,
h6 {
  padding: 5px 20px;
}

h4 small,
h5 small,
h6 small,
h4 .small,
h5 .small,
h6 .small {
  font-size: 75%;
}

h1 {
  font-size: 3.6em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2.4em;
}

h4 {
  font-size: 1.8em;
}

h5 {
  font-size: 1.6em;
}

h6 {
  text-transform: uppercase;
  font-size: 1.1em;
}

p {
  margin: 0 0 10px;
}

.p-stand-out {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.4;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #94adfa;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #f6f8ff;
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

figure {
  margin: 0;
}

img {
  vertical-align: middle;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

small,
.small {
  font-size: 70%;
}

cite {
  font-style: normal;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-muted {
  color: #999999;
}

.btn, .btn-lg, .btn-sm {
  border: none;
  margin: 10px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn {
  background: #1c378d;
  -webkit-box-shadow: inset 0px 1px 0px #2548b7, inset 0px -2px 0px 0px rgba(36, 36, 36, 0.4), 2px 2px 2px 2px rgba(28, 28, 28, 0.2);
  box-shadow: inset 0px 1px 0px #2548b7, inset 0px -2px 0px 0px rgba(36, 36, 36, 0.4), 2px 2px 2px 2px rgba(28, 28, 28, 0.2);
  border-radius: 5px;
  color: #e2e7f9;
  font-size: 14px;
  height: 42px;
  padding: 14px;
  max-width: 200px;
  float: left;
  padding-top: 12px;
  cursor: pointer;
}
.btn:hover {
  background: #213fa2;
  -webkit-box-shadow: inset, 0px 1px 0px #2548b7 inset 0px -2px 0px 0px rgba(50, 50, 50, 0.4), 2px 2px 2px 2px rgba(28, 28, 28, 0.2);
  box-shadow: inset, 0px 1px 0px #2548b7 inset 0px -2px 0px 0px rgba(50, 50, 50, 0.4), 2px 2px 2px 2px rgba(28, 28, 28, 0.2);
  color: white;
}
.btn:active {
  background: #182f77;
  -webkit-box-shadow: inset 0px 1px 0px #2548b7, inset 0px 0px 0px 0px rgba(36, 36, 36, 0.4), 2px 1px 3px 0px rgba(28, 28, 28, 0.2);
  box-shadow: inset 0px 1px 0px #2548b7, inset 0px 0px 0px 0px rgba(36, 36, 36, 0.4), 2px 1px 3px 0px rgba(28, 28, 28, 0.2);
  color: #e2e7f9;
}

.btn-lg {
  background: #1c378d;
  -webkit-box-shadow: inset 0px 1px 0px #2548b7, inset 0px -2px 0px 0px rgba(36, 36, 36, 0.4), 2px 2px 2px 2px rgba(28, 28, 28, 0.2);
  box-shadow: inset 0px 1px 0px #2548b7, inset 0px -2px 0px 0px rgba(36, 36, 36, 0.4), 2px 2px 2px 2px rgba(28, 28, 28, 0.2);
  border-radius: 5px;
  color: #e2e7f9;
  font-size: 20px;
  height: 60px;
  padding: 20px;
  max-width: 200px;
  float: left;
  padding-top: 18px;
  cursor: pointer;
}
.btn-lg:hover {
  background: #213fa2;
  -webkit-box-shadow: inset, 0px 1px 0px #2548b7 inset 0px -2px 0px 0px rgba(50, 50, 50, 0.4), 2px 2px 2px 2px rgba(28, 28, 28, 0.2);
  box-shadow: inset, 0px 1px 0px #2548b7 inset 0px -2px 0px 0px rgba(50, 50, 50, 0.4), 2px 2px 2px 2px rgba(28, 28, 28, 0.2);
  color: white;
}
.btn-lg:active {
  background: #182f77;
  -webkit-box-shadow: inset 0px 1px 0px #2548b7, inset 0px 0px 0px 0px rgba(36, 36, 36, 0.4), 2px 1px 3px 0px rgba(28, 28, 28, 0.2);
  box-shadow: inset 0px 1px 0px #2548b7, inset 0px 0px 0px 0px rgba(36, 36, 36, 0.4), 2px 1px 3px 0px rgba(28, 28, 28, 0.2);
  color: #e2e7f9;
}

.btn-sm {
  background: #1c378d;
  -webkit-box-shadow: inset 0px 1px 0px #2548b7, inset 0px -2px 0px 0px rgba(36, 36, 36, 0.4), 2px 2px 2px 2px rgba(28, 28, 28, 0.2);
  box-shadow: inset 0px 1px 0px #2548b7, inset 0px -2px 0px 0px rgba(36, 36, 36, 0.4), 2px 2px 2px 2px rgba(28, 28, 28, 0.2);
  border-radius: 5px;
  color: #e2e7f9;
  font-size: 8px;
  height: 24px;
  padding: 8px;
  max-width: 200px;
  float: left;
  padding-top: 6px;
  cursor: pointer;
}
.btn-sm:hover {
  background: #213fa2;
  -webkit-box-shadow: inset, 0px 1px 0px #2548b7 inset 0px -2px 0px 0px rgba(50, 50, 50, 0.4), 2px 2px 2px 2px rgba(28, 28, 28, 0.2);
  box-shadow: inset, 0px 1px 0px #2548b7 inset 0px -2px 0px 0px rgba(50, 50, 50, 0.4), 2px 2px 2px 2px rgba(28, 28, 28, 0.2);
  color: white;
}
.btn-sm:active {
  background: #182f77;
  -webkit-box-shadow: inset 0px 1px 0px #2548b7, inset 0px 0px 0px 0px rgba(36, 36, 36, 0.4), 2px 1px 3px 0px rgba(28, 28, 28, 0.2);
  box-shadow: inset 0px 1px 0px #2548b7, inset 0px 0px 0px 0px rgba(36, 36, 36, 0.4), 2px 1px 3px 0px rgba(28, 28, 28, 0.2);
  color: #e2e7f9;
}

.grid {
  padding-right: var(outer-margin, 0);
  padding-left: var(outer-margin, 0);
}

.row {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: var(gutter-compensation, 0);
  margin-left: var(gutter-compensation, 0);
}

.row.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-flex-wrap: row-reverse;
  -ms-flex-wrap: row-reverse;
  flex-wrap: row-reverse;
}

.column.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-flex-wrap: column-reverse;
  -ms-flex-wrap: column-reverse;
  flex-wrap: column-reverse;
}

.column-1-hand, .column-10-hand, .column-11-hand, .column-12-hand, .column-2-hand, .column-3-hand, .column-4-hand, .column-5-hand, .column-6-hand, .column-7-hand, .column-8-hand, .column-9-hand, .column-auto-hand, .offset-1-hand, .offset-10-hand, .offset-11-hand, .offset-12-hand, .offset-2-hand, .offset-3-hand, .offset-4-hand, .offset-5-hand, .offset-6-hand, .offset-7-hand, .offset-8-hand, .offset-9-hand {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0;
  flex-shrink: 0;
  padding-right: var(half-gutter-width, 0);
  padding-left: var(half-gutter-width, 0);
}

.column-auto-desk, .column-auto-hand, .column-auto-lap, .column-auto-wall {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex: 1;
  flex-grow: 1;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  -webkit-flex-basis: 0;
  -ms-flex: 0 1 0;
  flex-basis: 0;
}

.column-1-hand {
  -webkit-flex-basis: 8.333333333%;
  -ms-flex-preferred-size: 8.333333333%;
  -webkit-flex-basis: 8.333333333%;
  -ms-flex: 0 1 8.333333333%;
  flex-basis: 8.333333333%;
}

.column-2-hand {
  -webkit-flex-basis: 16.666666667%;
  -ms-flex-preferred-size: 16.666666667%;
  -webkit-flex-basis: 16.666666667%;
  -ms-flex: 0 1 16.666666667%;
  flex-basis: 16.666666667%;
}

.column-3-hand {
  -webkit-flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  -webkit-flex-basis: 25%;
  -ms-flex: 0 1 25%;
  flex-basis: 25%;
}

.column-4-hand {
  -webkit-flex-basis: 33.333333333%;
  -ms-flex-preferred-size: 33.333333333%;
  -webkit-flex-basis: 33.333333333%;
  -ms-flex: 0 1 33.333333333%;
  flex-basis: 33.333333333%;
}

.column-5-hand {
  -webkit-flex-basis: 41.666666667%;
  -ms-flex-preferred-size: 41.666666667%;
  -webkit-flex-basis: 41.666666667%;
  -ms-flex: 0 1 41.666666667%;
  flex-basis: 41.666666667%;
}

.column-6-hand {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  -webkit-flex-basis: 50%;
  -ms-flex: 0 1 50%;
  flex-basis: 50%;
}

.column-7-hand {
  -webkit-flex-basis: 58.333333333%;
  -ms-flex-preferred-size: 58.333333333%;
  -webkit-flex-basis: 58.333333333%;
  -ms-flex: 0 1 58.333333333%;
  flex-basis: 58.333333333%;
}

.column-8-hand {
  -webkit-flex-basis: 66.666666667%;
  -ms-flex-preferred-size: 66.666666667%;
  -webkit-flex-basis: 66.666666667%;
  -ms-flex: 0 1 66.666666667%;
  flex-basis: 66.666666667%;
}

.column-9-hand {
  -webkit-flex-basis: 75%;
  -ms-flex-preferred-size: 75%;
  -webkit-flex-basis: 75%;
  -ms-flex: 0 1 75%;
  flex-basis: 75%;
}

.column-10-hand {
  -webkit-flex-basis: 83.333333333%;
  -ms-flex-preferred-size: 83.333333333%;
  -webkit-flex-basis: 83.333333333%;
  -ms-flex: 0 1 83.333333333%;
  flex-basis: 83.333333333%;
}

.column-11-hand {
  -webkit-flex-basis: 91.666666667%;
  -ms-flex-preferred-size: 91.666666667%;
  -webkit-flex-basis: 91.666666667%;
  -ms-flex: 0 1 91.666666667%;
  flex-basis: 91.666666667%;
}

.column-12-hand {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  -webkit-flex-basis: 100%;
  -ms-flex: 0 1 100%;
  flex-basis: 100%;
}

.offset-1-hand {
  margin-left: 8.333333333%;
}

.offset-2-hand {
  margin-left: 16.666666667%;
}

.offset-3-hand {
  margin-left: 25%;
}

.offset-4-hand {
  margin-left: 33.333333333%;
}

.offset-5-hand {
  margin-left: 41.666666667%;
}

.offset-6-hand {
  margin-left: 50%;
}

.offset-7-hand {
  margin-left: 58.333333333%;
}

.offset-8-hand {
  margin-left: 66.666666667%;
}

.offset-9-hand {
  margin-left: 75%;
}

.offset-10-hand {
  margin-left: 83.333333333%;
}

.offset-11-hand {
  margin-left: 91.666666667%;
}

.start-hand {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start;
}

.center-hand {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.end-hand {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end;
}

.top-hand {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.middle-hand {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.bottom-hand {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.around-hand {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.between-hand {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.first-hand {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.last-hand {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

@media only screen and (min-width: 48em) {
  .column-auto-lap {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    -webkit-flex-basis: 0;
    -ms-flex: 0 1 0;
    flex-basis: 0;
  }

  .column-1-lap {
    -webkit-flex-basis: 8.333333333%;
    -ms-flex-preferred-size: 8.333333333%;
    -webkit-flex-basis: 8.333333333%;
    -ms-flex: 0 1 8.333333333%;
    flex-basis: 8.333333333%;
  }

  .column-2-lap {
    -webkit-flex-basis: 16.666666667%;
    -ms-flex-preferred-size: 16.666666667%;
    -webkit-flex-basis: 16.666666667%;
    -ms-flex: 0 1 16.666666667%;
    flex-basis: 16.666666667%;
  }

  .column-3-lap {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    -webkit-flex-basis: 25%;
    -ms-flex: 0 1 25%;
    flex-basis: 25%;
  }

  .column-4-lap {
    -webkit-flex-basis: 33.333333333%;
    -ms-flex-preferred-size: 33.333333333%;
    -webkit-flex-basis: 33.333333333%;
    -ms-flex: 0 1 33.333333333%;
    flex-basis: 33.333333333%;
  }

  .column-5-lap {
    -webkit-flex-basis: 41.666666667%;
    -ms-flex-preferred-size: 41.666666667%;
    -webkit-flex-basis: 41.666666667%;
    -ms-flex: 0 1 41.666666667%;
    flex-basis: 41.666666667%;
  }

  .column-6-lap {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    -webkit-flex-basis: 50%;
    -ms-flex: 0 1 50%;
    flex-basis: 50%;
  }

  .column-7-lap {
    -webkit-flex-basis: 58.333333333%;
    -ms-flex-preferred-size: 58.333333333%;
    -webkit-flex-basis: 58.333333333%;
    -ms-flex: 0 1 58.333333333%;
    flex-basis: 58.333333333%;
  }

  .column-8-lap {
    -webkit-flex-basis: 66.666666667%;
    -ms-flex-preferred-size: 66.666666667%;
    -webkit-flex-basis: 66.666666667%;
    -ms-flex: 0 1 66.666666667%;
    flex-basis: 66.666666667%;
  }

  .column-9-lap {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    -webkit-flex-basis: 75%;
    -ms-flex: 0 1 75%;
    flex-basis: 75%;
  }

  .column-10-lap {
    -webkit-flex-basis: 83.333333333%;
    -ms-flex-preferred-size: 83.333333333%;
    -webkit-flex-basis: 83.333333333%;
    -ms-flex: 0 1 83.333333333%;
    flex-basis: 83.333333333%;
  }

  .column-11-lap {
    -webkit-flex-basis: 91.666666667%;
    -ms-flex-preferred-size: 91.666666667%;
    -webkit-flex-basis: 91.666666667%;
    -ms-flex: 0 1 91.666666667%;
    flex-basis: 91.666666667%;
  }

  .column-12-lap {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    -ms-flex: 0 1 100%;
    flex-basis: 100%;
  }

  .offset-1-lap {
    margin-left: 8.333333333%;
  }

  .offset-2-lap {
    margin-left: 16.666666667%;
  }

  .offset-3-lap {
    margin-left: 25%;
  }

  .offset-4-lap {
    margin-left: 33.333333333%;
  }

  .offset-5-lap {
    margin-left: 41.666666667%;
  }

  .offset-6-lap {
    margin-left: 50%;
  }

  .offset-7-lap {
    margin-left: 58.333333333%;
  }

  .offset-8-lap {
    margin-left: 66.666666667%;
  }

  .offset-9-lap {
    margin-left: 75%;
  }

  .offset-10-lap {
    margin-left: 83.333333333%;
  }

  .offset-11-lap {
    margin-left: 91.666666667%;
  }

  .start-lap {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-lap {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-lap {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-lap {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .middle-lap {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom-lap {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .around-lap {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-lap {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .first-lap {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .last-lap {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}
@media only screen and (min-width: 62em) {
  .column-auto-desk {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    -webkit-flex-basis: 0;
    -ms-flex: 0 1 0;
    flex-basis: 0;
  }

  .column-1-desk {
    -webkit-flex-basis: 8.333333333%;
    -ms-flex-preferred-size: 8.333333333%;
    -webkit-flex-basis: 8.333333333%;
    -ms-flex: 0 1 8.333333333%;
    flex-basis: 8.333333333%;
  }

  .column-2-desk {
    -webkit-flex-basis: 16.666666667%;
    -ms-flex-preferred-size: 16.666666667%;
    -webkit-flex-basis: 16.666666667%;
    -ms-flex: 0 1 16.666666667%;
    flex-basis: 16.666666667%;
  }

  .column-3-desk {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    -webkit-flex-basis: 25%;
    -ms-flex: 0 1 25%;
    flex-basis: 25%;
  }

  .column-4-desk {
    -webkit-flex-basis: 33.333333333%;
    -ms-flex-preferred-size: 33.333333333%;
    -webkit-flex-basis: 33.333333333%;
    -ms-flex: 0 1 33.333333333%;
    flex-basis: 33.333333333%;
  }

  .column-5-desk {
    -webkit-flex-basis: 41.666666667%;
    -ms-flex-preferred-size: 41.666666667%;
    -webkit-flex-basis: 41.666666667%;
    -ms-flex: 0 1 41.666666667%;
    flex-basis: 41.666666667%;
  }

  .column-6-desk {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    -webkit-flex-basis: 50%;
    -ms-flex: 0 1 50%;
    flex-basis: 50%;
  }

  .column-7-desk {
    -webkit-flex-basis: 58.333333333%;
    -ms-flex-preferred-size: 58.333333333%;
    -webkit-flex-basis: 58.333333333%;
    -ms-flex: 0 1 58.333333333%;
    flex-basis: 58.333333333%;
  }

  .column-8-desk {
    -webkit-flex-basis: 66.666666667%;
    -ms-flex-preferred-size: 66.666666667%;
    -webkit-flex-basis: 66.666666667%;
    -ms-flex: 0 1 66.666666667%;
    flex-basis: 66.666666667%;
  }

  .column-9-desk {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    -webkit-flex-basis: 75%;
    -ms-flex: 0 1 75%;
    flex-basis: 75%;
  }

  .column-10-desk {
    -webkit-flex-basis: 83.333333333%;
    -ms-flex-preferred-size: 83.333333333%;
    -webkit-flex-basis: 83.333333333%;
    -ms-flex: 0 1 83.333333333%;
    flex-basis: 83.333333333%;
  }

  .column-11-desk {
    -webkit-flex-basis: 91.666666667%;
    -ms-flex-preferred-size: 91.666666667%;
    -webkit-flex-basis: 91.666666667%;
    -ms-flex: 0 1 91.666666667%;
    flex-basis: 91.666666667%;
  }

  .column-12-desk {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    -ms-flex: 0 1 100%;
    flex-basis: 100%;
  }

  .offset-1-desk {
    margin-left: 8.333333333%;
  }

  .offset-2-desk {
    margin-left: 16.666666667%;
  }

  .offset-3-desk {
    margin-left: 25%;
  }

  .offset-4-desk {
    margin-left: 33.333333333%;
  }

  .offset-5-desk {
    margin-left: 41.666666667%;
  }

  .offset-6-desk {
    margin-left: 50%;
  }

  .offset-7-desk {
    margin-left: 58.333333333%;
  }

  .offset-8-desk {
    margin-left: 66.666666667%;
  }

  .offset-9-desk {
    margin-left: 75%;
  }

  .offset-10-desk {
    margin-left: 83.333333333%;
  }

  .offset-11-desk {
    margin-left: 91.666666667%;
  }

  .start-desk {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-desk {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-desk {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-desk {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .middle-desk {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom-desk {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .around-desk {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-desk {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .first-desk {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .last-desk {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}
@media only screen and (min-width: 75em) {
  .column-auto-wall {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    -webkit-flex-basis: 0;
    -ms-flex: 0 1 0;
    flex-basis: 0;
  }

  .column-1-wall {
    -webkit-flex-basis: 8.333333333%;
    -ms-flex-preferred-size: 8.333333333%;
    -webkit-flex-basis: 8.333333333%;
    -ms-flex: 0 1 8.333333333%;
    flex-basis: 8.333333333%;
  }

  .column-2-wall {
    -webkit-flex-basis: 16.666666667%;
    -ms-flex-preferred-size: 16.666666667%;
    -webkit-flex-basis: 16.666666667%;
    -ms-flex: 0 1 16.666666667%;
    flex-basis: 16.666666667%;
  }

  .column-3-wall {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    -webkit-flex-basis: 25%;
    -ms-flex: 0 1 25%;
    flex-basis: 25%;
  }

  .column-4-wall {
    -webkit-flex-basis: 33.333333333%;
    -ms-flex-preferred-size: 33.333333333%;
    -webkit-flex-basis: 33.333333333%;
    -ms-flex: 0 1 33.333333333%;
    flex-basis: 33.333333333%;
  }

  .column-5-wall {
    -webkit-flex-basis: 41.666666667%;
    -ms-flex-preferred-size: 41.666666667%;
    -webkit-flex-basis: 41.666666667%;
    -ms-flex: 0 1 41.666666667%;
    flex-basis: 41.666666667%;
  }

  .column-6-wall {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    -webkit-flex-basis: 50%;
    -ms-flex: 0 1 50%;
    flex-basis: 50%;
  }

  .column-7-wall {
    -webkit-flex-basis: 58.333333333%;
    -ms-flex-preferred-size: 58.333333333%;
    -webkit-flex-basis: 58.333333333%;
    -ms-flex: 0 1 58.333333333%;
    flex-basis: 58.333333333%;
  }

  .column-8-wall {
    -webkit-flex-basis: 66.666666667%;
    -ms-flex-preferred-size: 66.666666667%;
    -webkit-flex-basis: 66.666666667%;
    -ms-flex: 0 1 66.666666667%;
    flex-basis: 66.666666667%;
  }

  .column-9-wall {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    -webkit-flex-basis: 75%;
    -ms-flex: 0 1 75%;
    flex-basis: 75%;
  }

  .column-10-wall {
    -webkit-flex-basis: 83.333333333%;
    -ms-flex-preferred-size: 83.333333333%;
    -webkit-flex-basis: 83.333333333%;
    -ms-flex: 0 1 83.333333333%;
    flex-basis: 83.333333333%;
  }

  .column-11-wall {
    -webkit-flex-basis: 91.666666667%;
    -ms-flex-preferred-size: 91.666666667%;
    -webkit-flex-basis: 91.666666667%;
    -ms-flex: 0 1 91.666666667%;
    flex-basis: 91.666666667%;
  }

  .column-12-wall {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    -ms-flex: 0 1 100%;
    flex-basis: 100%;
  }

  .offset-1-wall {
    margin-left: 8.333333333%;
  }

  .offset-2-wall {
    margin-left: 16.666666667%;
  }

  .offset-3-wall {
    margin-left: 25%;
  }

  .offset-4-wall {
    margin-left: 33.333333333%;
  }

  .offset-5-wall {
    margin-left: 41.666666667%;
  }

  .offset-6-wall {
    margin-left: 50%;
  }

  .offset-7-wall {
    margin-left: 58.333333333%;
  }

  .offset-8-wall {
    margin-left: 66.666666667%;
  }

  .offset-9-wall {
    margin-left: 75%;
  }

  .offset-10-wall {
    margin-left: 83.333333333%;
  }

  .offset-11-wall {
    margin-left: 91.666666667%;
  }

  .start-wall {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-wall {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-wall {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-wall {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .middle-wall {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom-wall {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .around-wall {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-wall {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .first-wall {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .last-wall {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}
body {
  max-width: 100%;
  margin: 0 auto;
  background: #ca2129;
}

@font-face {
  font-family: 'antonio bold';
  src: url("css/fonts/antonio-bold-webfont.eot");
  src: url("css/fonts/antonio-bold-webfont.eot?#iefix") format("embedded-opentype"), url("css/fonts/antonio-bold-webfont.woff") format("woff"), url("css/fonts/antonio-bold-webfont.ttf") format("truetype"), url("css/fonts/antonio-bold-webfont.svg#antoniobold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'antonio regular';
  src: url("css/fonts/antonio-regular-webfont.eot");
  src: url("css/fonts/antonio-regular-webfont.eot?#iefix") format("embedded-opentype"), url("css/fonts/antonio-regular-webfont.woff") format("woff"), url("css/fonts/antonio-regular-webfont.ttf") format("truetype"), url("css/fonts/antonio-regular-webfont.svg#antonioregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'antonio light';
  src: url("css/fonts/antonio-light-webfont.eot");
  src: url("css/fonts/antonio-light-webfont.eot?#iefix") format("embedded-opentype"), url("css/fonts/antonio-light-webfont.woff") format("woff"), url("css/fonts/antonio-light-webfont.ttf") format("truetype"), url("css/fonts/antonio-light-webfont.svg#antoniolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Slidebars 0.10.2 (http://plugins.adchsm.me/slidebars/) written by Adam Smith (http://www.adchsm.me/) released under MIT License (http://plugins.adchsm.me/slidebars/license.txt) */
#sb-site, .sb-site-container, .sb-slidebar, body, html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  overflow-x: hidden;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  height: auto;
  position: relative;
}

html.sb-scroll-lock.sb-active:not(.sb-static) {
  overflow: hidden;
}

#sb-site, .sb-site-container {
  width: 100%;
  position: relative;
  z-index: 1;
  background-color: white;
}

.sb-slidebar {
  height: 100%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  z-index: 0;
  display: none;
  background-color: #222;
  -webkit-transform: translate(0px);
}

.sb-left {
  left: 0;
}

.sb-right {
  right: 0;
}

.sb-slidebar.sb-static, html.sb-static .sb-slidebar {
  position: absolute;
}

.sb-slidebar.sb-active {
  display: block;
}

.sb-style-overlay {
  z-index: 9999;
}

.sb-momentum-scrolling {
  -webkit-overflow-scrolling: touch;
}

.sb-slidebar {
  width: 30%;
}

.sb-width-thin {
  width: 15%;
}

.sb-width-wide {
  width: 45%;
}

@media (max-width: 480px) {
  .sb-slidebar {
    width: 70%;
  }

  .sb-width-thin {
    width: 55%;
  }

  .sb-width-wide {
    width: 85%;
  }
}
@media (min-width: 481px) {
  .sb-slidebar {
    width: 55%;
  }

  .sb-width-thin {
    width: 40%;
  }

  .sb-width-wide {
    width: 70%;
  }
}
@media (min-width: 768px) {
  .sb-slidebar {
    width: 40%;
  }

  .sb-width-thin {
    width: 25%;
  }

  .sb-width-wide {
    width: 55%;
  }
}
@media (min-width: 992px) {
  .sb-slidebar {
    width: 30%;
  }

  .sb-width-thin {
    width: 15%;
  }

  .sb-width-wide {
    width: 45%;
  }
}
@media (min-width: 1200px) {
  .sb-slidebar {
    width: 20%;
  }

  .sb-width-thin {
    width: 5%;
  }

  .sb-width-wide {
    width: 35%;
  }
}
#sb-site, .sb-site-container, .sb-slide, .sb-slidebar {
  -webkit-transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  -webkit-transition-property: -webkit-transform, left, right;
  -webkit-backface-visibility: hidden;
  -webkit-box-shadow: -5px 0 3px rgba(0, 0, 0, 0.09);
}

.sb-hide {
  display: none;
}

.sb-slidebar {
  background: #9E1A20;
}
.sb-slidebar ul {
  padding: 0;
}
.sb-slidebar ul li {
  list-style: none;
  margin: 10px 0;
  border-bottom: 1px solid #C82028;
  padding: 10px 20px;
  color: #fff;
}
.sb-slidebar ul li a {
  color: #fff;
  padding: 20px 77px;
  width: 100%;
}

.lanes-bg {
  background: url(img/lanes-bg.jpg) no-repeat center center fixed;
  width: 100%;
  height: 870px;
  position: absolute;
  background-size: cover;
}

.main {
  position: relative;
  padding-top: 25px;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.nav-bg {
  border-radius: 12px;
  z-index: 9;
  height: 50px;
  margin: 0 5px;
  background: #9d1a20;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #9d1a20), color-stop(48%, #ca2129), color-stop(100%, #9d1a20));
  background: -webkit-linear-gradient(left, #9d1a20 0%, #ca2129 48%, #9d1a20 100%);
  background: -webkit-gradient(linear, left top, right top, from(#9d1a20), color-stop(48%, #ca2129), to(#9d1a20));
  background: linear-gradient(to right, #9d1a20 0%, #ca2129 48%, #9d1a20 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9d1a20', endColorstr='#9d1a20',GradientType=1 );
}
.nav-bg .nav .fa {
  display: none;
}
.nav-bg .nav ul {
  padding: 5px 0;
  margin: 0;
}
.nav-bg .nav ul li {
  font-family: 'antonio regular';
  font-size: 21px;
  float: left;
  padding: 12px;
  border-right: 2px solid #721317;
  height: 12px;
  line-height: 16px;
}
.nav-bg .nav ul li a {
  color: #fcffe6;
}
.nav-bg .nav ul li:first-child {
  margin-left: 0px;
}
.nav-bg .nav ul li:last-child {
  margin-right: 0px;
  border-right: none;
}

.slider {
  position: absolute;
  margin-top: -47px;
  overflow: hidden;
  width: 100%;
}
.slider .slide {
  margin-top: 40px;
}
.slider .slide img {
  margin: 0 auto;
}

.location {
  position: relative;
  margin-top: 500px;
  margin-bottom: 7px;
  height: 48px;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(157, 26, 32, 0)), color-stop(26%, rgba(157, 26, 32, 0.74)), color-stop(35%, #af1d24), color-stop(48%, rgba(202, 33, 41, 0.91)), color-stop(78%, rgba(157, 26, 32, 0.71)), color-stop(100%, rgba(157, 26, 32, 0)));
  background: -webkit-linear-gradient(left, rgba(157, 26, 32, 0) 0%, rgba(157, 26, 32, 0.74) 26%, #af1d24 35%, rgba(202, 33, 41, 0.91) 48%, rgba(157, 26, 32, 0.71) 78%, rgba(157, 26, 32, 0) 100%);
  background: -webkit-gradient(linear, left top, right top, from(rgba(157, 26, 32, 0)), color-stop(26%, rgba(157, 26, 32, 0.74)), color-stop(35%, #af1d24), color-stop(48%, rgba(202, 33, 41, 0.91)), color-stop(78%, rgba(157, 26, 32, 0.71)), to(rgba(157, 26, 32, 0)));
  background: linear-gradient(to right, rgba(157, 26, 32, 0) 0%, rgba(157, 26, 32, 0.74) 26%, #af1d24 35%, rgba(202, 33, 41, 0.91) 48%, rgba(157, 26, 32, 0.71) 78%, rgba(157, 26, 32, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009d1a20', endColorstr='#009d1a20',GradientType=1 );
}
.location .form {
  float: right;
  padding: 5px;
}
.location .form h4 {
  font-family: 'antonio light', sans-serif;
  padding: 0;
  margin: 0;
  color: #fff;
  float: right;
  margin-right: 17px;
  line-height: 40px;
}
.location .form select {
  float: right;
  height: 38px;
  width: 186px;
  -webkit-appearance: none;
  padding: 0 15px;
  background: #f2f2f2;
  font-size: 18px;
}

.ctas {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
  height: 170px;
  background: #3852a5;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #3852a5), color-stop(48%, #385dd0), color-stop(100%, #3852a5));
  background: -webkit-linear-gradient(left, #3852a5 0%, #385dd0 48%, #3852a5 100%);
  background: -webkit-gradient(linear, left top, right top, from(#3852a5), color-stop(48%, #385dd0), to(#3852a5));
  background: linear-gradient(to right, #3852a5 0%, #385dd0 48%, #3852a5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3852a5', endColorstr='#3852a5',GradientType=1 );
}
.ctas img {
  margin-top: -113px;
}
.ctas .book-your-party {
  padding: 107px 23px;
}

.signup {
  margin: 16px 10px;
  background: #9d1a20;
  height: 120px;
  border-radius: 12px;
  padding: 8px 15px;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #9d1a20), color-stop(48%, #ca2129), color-stop(100%, #9d1a20));
  background: -webkit-linear-gradient(left, #9d1a20 0%, #ca2129 48%, #9d1a20 100%);
  background: -webkit-gradient(linear, left top, right top, from(#9d1a20), color-stop(48%, #ca2129), to(#9d1a20));
  background: linear-gradient(to right, #9d1a20 0%, #ca2129 48%, #9d1a20 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9d1a20', endColorstr='#9d1a20',GradientType=1 );
}
.signup p {
  color: #fff;
  width: 230px;
  float: left;
}
.signup p .line-1 {
  font-size: 16px;
}
.signup p .line-2 {
  font-size: 30px;
}
.signup p .line-3 {
  font-size: 11px;
}
.signup .pins {
  margin-right: -50px;
  float: right;
  padding-top: 15px;
}
.signup .news-signup input[type="submit"] {
  color: #fff;
  border: none;
  background: #9d1a20;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #9d1a20), color-stop(48%, #ca2129), color-stop(100%, #9d1a20));
  background: -webkit-linear-gradient(left, #9d1a20 0%, #ca2129 48%, #9d1a20 100%);
  background: -webkit-gradient(linear, left top, right top, from(#9d1a20), color-stop(48%, #ca2129), to(#9d1a20));
  background: linear-gradient(to right, #9d1a20 0%, #ca2129 48%, #9d1a20 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9d1a20', endColorstr='#9d1a20',GradientType=1 );
}

.footer {
  position: relative;
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}
.footer .copyright {
  color: #fff;
  font-family: 'antonio light', sans-serif;
  float: left;
  margin-top: 5px;
}
.footer .sitemap {
  float: right;
}
.footer .sitemap ul {
  margin: 0;
}
.footer .sitemap ul li {
  float: right;
  padding: 5px;
}
.footer .sitemap ul li a {
  color: #fff;
}

@media screen and (max-width: 960px) and (min-width: 821px) {
  .nav-bg .nav ul li {
    font-size: 16px;
  }
}
@media screen and (max-width: 820px) {
  .nav-bg .nav .fa {
    display: block;
    position: absolute;
    top: 35px;
    left: 20px;
    color: white;
    font-size: 30px;
  }
  .nav-bg .nav ul {
    display: none;
  }
  .nav-bg .nav ul li {
    font-size: 24px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }
  .nav-bg .logo {
    text-align: center;
  }
  .nav-bg .logo img {
    margin: 0 auto;
    height: auto;
    width: 300px;
  }

  .slider .slide img {
    margin: 110px auto 0;
    height: auto;
    width: 100%;
  }

  .location {
    margin-bottom: 75px;
    margin-top: 80%;
  }

  .ctas {
    height: auto;
  }
  .ctas .party {
    margin: 0 auto;
  }
  .ctas .party img {
    width: 100%;
    height: auto;
  }
  .ctas .book-your-party {
    padding: 12px 23px;
    margin: 0 auto;
  }
  .ctas .signup p {
    text-align: center;
    width: 320px;
  }
  .ctas .signup p span {
    float: left;
    width: 100%;
  }
  .ctas .signup .news-signup {
    text-align: center;
  }
  .ctas .signup .news-signup input[type="text"] {
    width: 55%;
  }
  .ctas .signup .news-signup input[type="submit"] {
    width: 30%;
  }
  .ctas .pins {
    display: none;
  }

  .footer .copyright {
    text-align: center;
  }
  .footer .sitemap {
    float: right;
    margin: 0 auto;
  }
}
@media screen and (max-width: 400px) {
  .location .form {
    margin: 0 auto;
  }
  .location .form h4 {
    display: none;
  }
}
