
@import "colors";

@mixin button($btn_bg, $br, $fz) {
	background: $btn_bg;
	box-shadow: inset 0px 1px 0px lighten($btn_bg, 10%), 
							inset 0px -2px 0px 0px rgba(36, 36, 36, 0.4),
							2px 2px 2px 2px rgba(28, 28, 28, 0.2);
	border-radius:$br;
	color: lighten($btn_bg, 60%);
	font-size: $fz;
	height:$fz*3;
	padding: $fz;
	max-width: 200px;
	float: left;
	padding-top: $fz - 2;
	cursor: pointer;
		&:hover{
			background: lighten($btn_bg, 5%);
			box-shadow: inset, 0px 1px 0px lighten($btn_bg, 10%) 
									inset 0px -2px 0px 0px rgba(50, 50, 50, 0.4),
									2px 2px 2px 2px rgba(28, 28, 28, 0.2);
			color: lighten($btn_bg, 75%);}
		&:active{
			background: darken($btn_bg, 5%);
			box-shadow: inset 0px 1px 0px lighten($btn_bg, 10%), 
									inset 0px 0px 0px 0px rgba(36, 36, 36, 0.4),
									2px 1px 3px 0px rgba(28, 28, 28, 0.2);
			color: lighten($btn_bg, 60%);}}

%btn{
	border: none;
	margin:10px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
	transition: all .2s;} 

//regular buttons
.btn{
	@extend %btn;
	@include button($blue_dark, 5px, 14px);}
.btn-lg{
	@extend %btn;
	@include button($blue_dark, 5px, 20px);}
.btn-sm{
	@extend %btn;
	@include button($blue_dark, 5px, 8px);}
