//colors 
$red: #ca2129;
$red_light: lighten($red, 20%);
$red_dark: darken($red, 20%);

$blue: #385ed7;
$blue_light: lighten($blue, 20%);
$blue_dark: darken($blue, 20%);

//links
$link:  lighten(saturate($blue, 25%), 25%);
$link_hover: lighten($link, 20%);