.ctas{
	position: relative;
	max-width: 960px;
	margin: 0 auto;
	height:170px;
	background: rgb(56,82,165);
	background: -moz-linear-gradient(left,  rgba(56,82,165,1) 0%, rgba(56,93,208,1) 48%, rgba(56,82,165,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(56,82,165,1)), color-stop(48%,rgba(56,93,208,1)), color-stop(100%,rgba(56,82,165,1)));
	background: -webkit-linear-gradient(left,  rgba(56,82,165,1) 0%,rgba(56,93,208,1) 48%,rgba(56,82,165,1) 100%);
	background: -o-linear-gradient(left,  rgba(56,82,165,1) 0%,rgba(56,93,208,1) 48%,rgba(56,82,165,1) 100%);
	background: -ms-linear-gradient(left,  rgba(56,82,165,1) 0%,rgba(56,93,208,1) 48%,rgba(56,82,165,1) 100%);
	background: linear-gradient(to right,  rgba(56,82,165,1) 0%,rgba(56,93,208,1) 48%,rgba(56,82,165,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3852a5', endColorstr='#3852a5',GradientType=1 );
		img{
			margin-top: -113px;
		}
		.book-your-party{
			padding: 107px 23px;
		}
}