@font-face {
    font-family: 'antonio bold';
    src: url('css/fonts/antonio-bold-webfont.eot');
    src: url('css/fonts/antonio-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/fonts/antonio-bold-webfont.woff') format('woff'),
         url('css/fonts/antonio-bold-webfont.ttf') format('truetype'),
         url('css/fonts/antonio-bold-webfont.svg#antoniobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'antonio regular';
    src: url('css/fonts/antonio-regular-webfont.eot');
    src: url('css/fonts/antonio-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/fonts/antonio-regular-webfont.woff') format('woff'),
         url('css/fonts/antonio-regular-webfont.ttf') format('truetype'),
         url('css/fonts/antonio-regular-webfont.svg#antonioregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'antonio light';
    src: url('css/fonts/antonio-light-webfont.eot');
    src: url('css/fonts/antonio-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/fonts/antonio-light-webfont.woff') format('woff'),
         url('css/fonts/antonio-light-webfont.ttf') format('truetype'),
         url('css/fonts/antonio-light-webfont.svg#antoniolight') format('svg');
    font-weight: normal;
    font-style: normal;
}