.footer{
	position: relative;
	margin: 0 auto;
	max-width: 960px;
	width:100%;
		.copyright{
			color:#fff;
			font-family: 'antonio light', sans-serif;
			float: left;
			margin-top:5px;
		}
		.sitemap{
			float: right;
			ul{
				margin: 0;
					li{
						float: right;
						padding:5px;
							a{
								color: #fff;
							}
					}
			}	
		}
}