.location{
	position: relative;
	margin-top: 500px;
	margin-bottom: 7px;
	height: 48px;
	background: -moz-linear-gradient(left,  rgba(157,26,32,0) 0%, rgba(157,26,32,0.74) 26%, rgba(175,29,36,1) 35%, rgba(202,33,41,0.91) 48%, rgba(157,26,32,0.71) 78%, rgba(157,26,32,0) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(157,26,32,0)), color-stop(26%,rgba(157,26,32,0.74)), color-stop(35%,rgba(175,29,36,1)), color-stop(48%,rgba(202,33,41,0.91)), color-stop(78%,rgba(157,26,32,0.71)), color-stop(100%,rgba(157,26,32,0)));
	background: -webkit-linear-gradient(left,  rgba(157,26,32,0) 0%,rgba(157,26,32,0.74) 26%,rgba(175,29,36,1) 35%,rgba(202,33,41,0.91) 48%,rgba(157,26,32,0.71) 78%,rgba(157,26,32,0) 100%);
	background: -o-linear-gradient(left,  rgba(157,26,32,0) 0%,rgba(157,26,32,0.74) 26%,rgba(175,29,36,1) 35%,rgba(202,33,41,0.91) 48%,rgba(157,26,32,0.71) 78%,rgba(157,26,32,0) 100%);
	background: -ms-linear-gradient(left,  rgba(157,26,32,0) 0%,rgba(157,26,32,0.74) 26%,rgba(175,29,36,1) 35%,rgba(202,33,41,0.91) 48%,rgba(157,26,32,0.71) 78%,rgba(157,26,32,0) 100%);
	background: linear-gradient(to right,  rgba(157,26,32,0) 0%,rgba(157,26,32,0.74) 26%,rgba(175,29,36,1) 35%,rgba(202,33,41,0.91) 48%,rgba(157,26,32,0.71) 78%,rgba(157,26,32,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009d1a20', endColorstr='#009d1a20',GradientType=1 );
		.form{
			float:right;
			padding: 5px;
			h4{
				font-family:'antonio light', sans-serif;
				padding: 0;
				margin:0;
				color:#fff;
				float:right;
				margin-right: 17px;
				line-height: 40px;
			}
			select{
				float: right;
				height: 38px;
				width: 186px;
				-webkit-appearance: none;
				padding: 0 15px;
				background: #f2f2f2;
				font-size: 18px;
			}
		}
}