@media screen and (max-width:960px) and (min-width:821px){
	.nav-bg .nav ul li{
		font-size: 16px;
	}
}
@media screen and (max-width:820px) {
	.nav-bg {
		.nav {
			.fa{
				display: block;
				position: absolute;
				top: 35px;
				left: 20px;
				color: white;
				font-size: 30px;
			}
				ul{ 
					display: none;
						li{
							font-size: 24px;
							margin-top: 10px;
							width: 100%;
							text-align: center;
						}
				}
			}
		.logo{
			text-align: center;
				img{
					margin: 0 auto;
					height: auto;
					width: 300px;
				}
		}
	}
	.slider .slide img {
		margin: 110px auto 0;
		height: auto;
		width: 100%;
	}
	.location{
		margin-bottom: 75px;
		margin-top: 80%;
	}
	.ctas{
		height: auto;
			.party{
				margin: 0 auto;
					img{
						width: 100%;
						height: auto;
					}
			}
			.book-your-party {
				padding: 12px 23px;
				margin: 0 auto;
			}
			.signup{
				p{
					text-align: center;
					width:320px;
						span{
							float: left;
							width: 100%;
						}
				}
				.news-signup{
					text-align: center;
						input[type="text"]{
							width:55%;
						}
						input[type="submit"]{
							width:30%;
						}
				}
			}
			.pins{
				display: none;
			}
	}
	.footer {
		.copyright{
			text-align: center;
		}
		.sitemap {
			float: right;
			margin: 0 auto;
		}
	}
}
@media screen and (max-width:400px){
	.location{
		.form{
			margin: 0 auto;
				h4{
					display: none;
				}
		}
	}
}