@import "colors";

.nav-bg{
	border-radius: 12px;
	z-index: 9;
	height: 50px;
	margin: 0 5px;
	background: #9d1a20;
	background: -moz-linear-gradient(left,  #9d1a20 0%, #ca2129 48%, #9d1a20 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#9d1a20), color-stop(48%,#ca2129), color-stop(100%,#9d1a20));
	background: -webkit-linear-gradient(left,  #9d1a20 0%,#ca2129 48%,#9d1a20 100%);
	background: -o-linear-gradient(left,  #9d1a20 0%,#ca2129 48%,#9d1a20 100%);
	background: -ms-linear-gradient(left,  #9d1a20 0%,#ca2129 48%,#9d1a20 100%);
	background: linear-gradient(to right,  #9d1a20 0%,#ca2129 48%,#9d1a20 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9d1a20', endColorstr='#9d1a20',GradientType=1 );
		.nav{
			.fa{
				display: none;
			}
				ul{
					padding: 5px 0;
					margin: 0;
						li{
							font-family: 'antonio regular';
							font-size: 21px;
							float: left;
							padding: 12px;
							border-right: 2px solid $red_dark;
							height: 12px;
							line-height: 16px;
								a{
									color: #fcffe6;
								}
								&:first-child{
									margin-left: 0px;
								}
								&:last-child{
									margin-right: 0px;
									border-right: none;
								}
						}
				}
		}
}
