.signup{
	margin: 16px 10px;
	background: #9d1a20;
	height: 120px;
	border-radius: 12px;
	padding: 8px 15px;
	background: -moz-linear-gradient(left,  #9d1a20 0%, #ca2129 48%, #9d1a20 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#9d1a20), color-stop(48%,#ca2129), color-stop(100%,#9d1a20));
	background: -webkit-linear-gradient(left,  #9d1a20 0%,#ca2129 48%,#9d1a20 100%);
	background: -o-linear-gradient(left,  #9d1a20 0%,#ca2129 48%,#9d1a20 100%);
	background: -ms-linear-gradient(left,  #9d1a20 0%,#ca2129 48%,#9d1a20 100%);
	background: linear-gradient(to right,  #9d1a20 0%,#ca2129 48%,#9d1a20 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9d1a20', endColorstr='#9d1a20',GradientType=1 );

		p{
			color:#fff;
			width:230px;
			float: left;
				.line-1{
					font-size:16px;
				}
				.line-2{
					font-size:30px;
				}
				.line-3{
					font-size: 11px;
				}
		}
		.pins{
			margin-right: -50px;
			float: right;
			padding-top: 15px;
		}
		.news-signup{
			input[type="text"]{

			}
			input[type="submit"]{
				color: #fff;
				border:none;
				background: #9d1a20;
				background: -moz-linear-gradient(left,  #9d1a20 0%, #ca2129 48%, #9d1a20 100%);
				background: -webkit-gradient(linear, left top, right top, color-stop(0%,#9d1a20), color-stop(48%,#ca2129), color-stop(100%,#9d1a20));
				background: -webkit-linear-gradient(left,  #9d1a20 0%,#ca2129 48%,#9d1a20 100%);
				background: -o-linear-gradient(left,  #9d1a20 0%,#ca2129 48%,#9d1a20 100%);
				background: -ms-linear-gradient(left,  #9d1a20 0%,#ca2129 48%,#9d1a20 100%);
				background: linear-gradient(to right,  #9d1a20 0%,#ca2129 48%,#9d1a20 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9d1a20', endColorstr='#9d1a20',GradientType=1 );
			}
		}

}