/* Slidebars 0.10.2 (http://plugins.adchsm.me/slidebars/) written by Adam Smith (http://www.adchsm.me/) released under MIT License (http://plugins.adchsm.me/slidebars/license.txt) */

#sb-site, .sb-site-container, .sb-slidebar, body, html {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
body, html {
    width: 100%;
    overflow-x: hidden
}
html {
    height: 100%
}
body {
    min-height: 100%;
    height: auto;
    position: relative
}
html.sb-scroll-lock.sb-active:not(.sb-static) {
    overflow: hidden
}
#sb-site, .sb-site-container {
    width: 100%;
    position: relative;
    z-index: 1;
    background-color: #fff
}
.sb-slidebar {
    height: 100%;
    overflow-y: auto;
    position: fixed;
    top: 0;
    z-index: 0;
    display: none;
    background-color: #222;
    -webkit-transform: translate(0px)
}
.sb-left {
    left: 0
}
.sb-right {
    right: 0
}
.sb-slidebar.sb-static, html.sb-static .sb-slidebar {
    position: absolute
}
.sb-slidebar.sb-active {
    display: block
}
.sb-style-overlay {
    z-index: 9999
}
.sb-momentum-scrolling {
    -webkit-overflow-scrolling: touch
}
.sb-slidebar {
    width: 30%
}
.sb-width-thin {
    width: 15%
}
.sb-width-wide {
    width: 45%
}
@media (max-width: 480px) {
    .sb-slidebar {
        width: 70%
    }
    .sb-width-thin {
        width: 55%
    }
    .sb-width-wide {
        width: 85%
    }
}
@media (min-width: 481px) {
    .sb-slidebar {
        width: 55%
    }
    .sb-width-thin {
        width: 40%
    }
    .sb-width-wide {
        width: 70%
    }
}
@media (min-width: 768px) {
    .sb-slidebar {
        width: 40%
    }
    .sb-width-thin {
        width: 25%
    }
    .sb-width-wide {
        width: 55%
    }
}
@media (min-width: 992px) {
    .sb-slidebar {
        width: 30%
    }
    .sb-width-thin {
        width: 15%
    }
    .sb-width-wide {
        width: 45%
    }
}
@media (min-width: 1200px) {
    .sb-slidebar {
        width: 20%
    }
    .sb-width-thin {
        width: 5%
    }
    .sb-width-wide {
        width: 35%
    }
}
#sb-site, .sb-site-container, .sb-slide, .sb-slidebar {
    -webkit-transition: -webkit-transform 400ms ease;
    -moz-transition: -moz-transform 400ms ease;
    -o-transition: -o-transform 400ms ease;
    transition: transform 400ms ease;
    -webkit-transition-property: -webkit-transform, left, right;
    -webkit-backface-visibility: hidden;
    -webkit-box-shadow: -5px 0 3px rgba(0, 0, 0, 0.09);
}
.sb-hide {
    display: none
}
.sb-slidebar{
    background: #9E1A20;
    ul{
        padding: 0;
        li{
            list-style: none;
            margin: 10px 0;
            border-bottom: 1px solid #C82028;
            padding: 10px 20px;
            color: #fff;
                a{
                    color: #fff;
                    padding: 20px 77px;
                    width: 100%;
                }
        }
    }
}
