//colors
@import 'colors';

//heading font family
$heading_font:'antonio regular', sans-serif;
$h_context: 10px;
$h1_h6_line_height: 1.1em;

//body font family
$body_font:'antonio regular', sans-serif;

//font sizes
$h1:36px/$h_context+0em;
$h2:30px/$h_context+0em;
$h3:24px/$h_context+0em;
$h4:18px/$h_context+0em;
$h5:16px/$h_context+0em;
$h6:11px/$h_context+0em; 
//padding
$h1_h3_padding: 20px;
$h4_h6_padding: 5px; 


html {
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
body {
  font-family: $body_font;
  font-size: 14px;
  line-height: 1.42857143;
  color: #866c7a;}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading_font;
  font-weight: 500;
  line-height: $h1_h6_line_height;
  color: $blue_dark;}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small{
  font-weight: normal;
  line-height: 1;
  color: #999999;}
h1,
h2,
h3{
  padding:$h1_h3_padding;
  }
h1 small,
h2 small,
h3 small,
h1 .small,
h2 .small,
h3 .small{
  font-size: 65%;}
h4,
h5,
h6{
  padding:$h4_h6_padding $h1_h3_padding;}
h4 small,
h5 small,
h6 small,
h4 .small,
h5 .small,
h6 .small{
  font-size: 75%;}
h1{
  font-size: $h1;}
h2{
  font-size: $h2;}
h3{
  font-size: $h3;}
h4{
  font-size: $h4;}
h5{
  font-size: $h5;}
h6{
	text-transform: uppercase;
  font-size: $h6;}
p {
  margin: 0 0 10px;}
.p-stand-out {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.4;}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;}
a {
  color: $link;
  text-decoration: none;}
a:hover,
a:focus {
  color: $link_hover;
  text-decoration: none;}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;}
figure {
  margin: 0;}
img {
  vertical-align: middle;}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;}
small,
.small {
  font-size: 70%;}
cite {
  font-style: normal;}
.text-left {
  text-align: left;}
.text-right {
  text-align: right;}
.text-center {
  text-align: center;}
.text-justify {
  text-align: justify;}
.text-muted {
  color: #999999;}